# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# Pasta de uploads (se tiver arquivos sensíveis)
uploads/